@import url('https://fonts.googleapis.com/css?family=Raleway:300,500')

// -------------------------------
//  Variables
// -------------------------------
$background: #37385F
$text_color: white
$social_border: 1px solid transparentize($text_color, .65)
$font_family: 'Raleway', sans-serif


// -------------------------------
//  Mixins
// -------------------------------
=transition($duration)
  transition: all $duration cubic-bezier(0.42, 0, 0.58, 1)

=flex($direction, $center_content)
  display: flex
  flex-flow: $direction nowrap
  @if $center_content
    justify-content: center
    align-items: center


// -------------------------------
//  Helpers
// -------------------------------
button.menuToggle.open
  transform: rotateZ(45deg)

.blurred
  +transition(50ms)
  filter: blur(5px)
