<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Tags for more compatibility. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<meta name="theme-color" content="#37385F">

		<!-- OpenGraph information tags -->
		<meta property="og:title" content="Axel Rindle" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://axelrindle.de/" />
		<meta property="og:image" content="https://axelrindle.de/assets/img/og.png" />

		<!-- Favicon -->
		<link rel="icon" href="{{ asset('img/favicon.png') }}">

		<!-- Site title -->
		<title>Axel Rindle</title>

		<!-- CSS files -->
		<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		{% block css %}
		{% endblock %}
	</head>
	<body>
		<canvas id="background"></canvas>
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>

		<!-- JS files -->
		{% block js %}
		{% endblock %}
	</body>
</html>
