extends page.layout.pug

block css
  link(rel="stylesheet" href="css/home.css")

block content

  div.front__text
    h1 Axel Rindle
    h2 Hobby Developer • Student • Dedicated to Open Source

  div.front__social.links__responsive

    a.link(href="https://twitter.com/axelrindle")
      i.fa.fa-twitter
      span.only__big Twitter

    a.link(href="https://github.com/axelrindle")
      i.fa.fa-github
      span.only__big GitHub

    a.link(href="https://codepen.io/axelrindle")
      i.fa.fa-codepen
      span.only__big CodePen

    a.link(href="mailto:axel.rindle@gmx.de")
      i.fa.fa-envelope
      span.only__big Mail

    a.link(href="https://stackoverflow.com/users/5423625/axel")
      i.fa.fa-stack-overflow
      span.only__big StackOverflow

    a.link(href="https://developer.mozilla.org/de/profiles/axelrindle")
      b moz://a
      span.only__big MDN
